#!/bin/bash -e

TOOL_DIR=$HOME/work/tools/

{{ if eq .chezmoi.arch "arm64" }}
ARCH=arm
{{ else }}
ARCH=x86_64
{{ end }}

DOWNLOAD_URL="https://dl.google.com/dl/cloudsdk/channels/rapid/downloads/google-cloud-cli-{{ .chezmoi.os }}-$ARCH.tar.gz"

mkdir -p $TOOL_DIR 

curl -sSL $DOWNLOAD_URL | tar -xz -C $TOOL_DIR 
