{{ if eq .chezmoi.os "darwin" -}}
#!/bin/sh
fonts_list=(
  font-hack-nerd-font
)

for font in "${fonts_list[@]}"
do
  brew install --cask "$font"
done

{{ else if eq .chezmoi.os "linux" -}}

#!/bin/bash -ex

FONT_NAME="Hack"
FONT_DIR="$HOME/.local/share/fonts"

curl -sSL https://github.com/ryanoasis/nerd-fonts/releases/latest/download/${FONT_NAME}.tar.xz  -o "/tmp/${FONT_NAME}.tar.xz"

tar xf /tmp/${FONT_NAME}.tar.xz -C ${FONT_DIR}

fc-cache -fv "$FONT_DIR"

{{ end -}}

